@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
    --theme-off-white: #f2f2f2;
    --theme-dark: #000;
    --strike-clr: #0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section.strike {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: var(--theme-dark);
}

.strike .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.strike .container a.strike-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid var(--strike-clr);
    margin: 60px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--theme-plain-white);
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}
.strike .container a.strike-btn:hover {
    color: var(--theme-dark);
    box-shadow:
        0 0 10px var(--strike-clr),
        0 0 20px var(--strike-clr),
        0 0 40px var(--strike-clr),
        0 0 80px var(--strike-clr),
        0 0 160px var(--strike-clr);
    transition-delay: 1.5s;
}

.strike .container a.strike-btn span {
    position: relative;
    z-index: 100;
}

.strike .container a.strike-btn::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: var(--strike-clr);
    box-shadow:
        5px -8px 0 var(--strike-clr),
        5px 8px 0 var(--strike-clr);
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.strike .container a.strike-btn:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow:
        5px 0 0 var(--strike-clr),
        5px 0 0 var(--strike-clr);
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.strike .container a.strike-btn::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: var(--strike-clr);
    box-shadow:
        -5px -8px 0 var(--strike-clr),
        -5px 8px 0 var(--strike-clr);
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.strike .container a.strike-btn:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow:
        -5px 0 0 var(--strike-clr),
        -5px 0 0 var(--strike-clr);
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.strike .container a.strike-btn:nth-child(2) { filter: hue-rotate(80deg); }

.strike .container a.strike-btn:nth-child(3) { filter: hue-rotate(160deg); }
