/* Note: WIP - to get the line to reveal blue going ddown for fingerScan */
/* Note: then hide both finger print images and reveal the NFT card going up! */
/* TODO: BUT doesn't work! */

:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
    --theme-off-white: #f2f2f2;
    --theme-bg-main: #f2a900ad;
    --theme-dark: #111;
    --theme-blue: #3fefef;
    --theme-earth: #D6DF21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--theme-dark);
    overflow: hidden;
}

.scan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan h3 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 25px;
    color: var(--theme-earth);
    filter:
        drop-shadow(0 0 20px var(--theme-earth))
        drop-shadow(0 0 60px var(--theme-earth));
    animation: fingerScan_text 0.5s steps(1) infinite;
}

.scan .fingerprint {
    position: relative;
    width: 300px;
    height: 380px;
    background: url(./assets/fingerPrint_01.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

.scan .fingerprint::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/fingerPrint_02.png);
    background-size: 300px;
    background-position: center;
    animation: fingerScan 5s ease-in-out infinite;
}

.scan .fingerprint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: var(--theme-earth);
    filter:
        drop-shadow(0 0 20px var(--theme-earth))
        drop-shadow(0 0 60px var(--theme-earth));
    animation: fingerScanner_line 5s ease-in-out infinite;
}



@keyframes fingerScan {
    0% {
        top: 100%;
        height: 0;
        opacity: 0;
    }
    50% {
        top: 0;
        height: 100%;
        opacity: 1;
    }
    100% {
        top: 0;
        height: 0;
        opacity: 0;
    }
}

@keyframes fingerScanner_line {
    0% {
        top: 0;
        height: 8px;
    }
    50% {
        top: calc(100% - 8px);
        height: 0;
    }
    100% {
        top: 0;
        height: 8px;
    }
}

@keyframes fingerScan_text {
    0% {
        color: var(--theme-earth);
        filter:
            drop-shadow(0 0 20px var(--theme-earth))
            drop-shadow(0 0 60px var(--theme-earth));
    }
    50% {
        color: var(--theme-plain-white);
        filter:
            drop-shadow(0 0 20px var(--theme-plain-white))
            drop-shadow(0 0 60px var(--theme-plain-white));
    }
    100% {
        color: var(--theme-earth);
        filter:
            drop-shadow(0 0 20px var(--theme-earth))
            drop-shadow(0 0 60px var(--theme-earth));
    }
}
