:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

/* Note: This seems pretty redudant */
/* Note: Having two classes for the two cutes all doing bascially same thing */
/* TODO: Come back and refactor CSS classes to cut out some lines of code! */

/* All of Cube 1 Styles! */

.cube1 {
    position: absolute;
    width: 300px;
    height: 300px;
}

.cube1 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spinCube1 6s linear infinite;
}

.cube1 .big span {
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--clr);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.cube1:hover .big span {
    background: transparent;
    border: 10px solid var(--orange-pilled);
    filter: drop-shadow(0 0 20px var(--orange-pilled));
}

.cube1 .big span.top { transform: rotateX(90deg) translateZ(150px); }

.cube1 .big span.top::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateZ(-350px);
    background: rgb(0, 0, 0, 0.5);
    filter: blur(50px);
}


/* All of Cube 2 Styles! */

.cube2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -400px);
}

.cube2 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spinCube2 6s linear infinite;
    scale: 0.5;
}

.cube2 .big span {
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--clr);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.cube1:hover ~ .cube2 .big span {
    background: transparent;
    border: 10px solid var(--theme-plain-white);
    filter: drop-shadow(0 0 20px var(--theme-plain-white));
}

.cube2 .big span.top { transform: rotateX(90deg) translateZ(150px); }

.cube2 .big span.top::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateZ(-350px);
    background: rgb(0, 0, 0, 0.35);
    filter: blur(50px);
}





/* Animations */
@keyframes spinCube1 {
    0% { transform: rotateX(-20deg) rotateY(360deg); }
    100% { transform: rotateX(-20deg) rotateY(0deg); }
}

@keyframes spinCube2 {
    0% { transform: rotateX(-20deg) rotateY(0deg); }
    100% { transform: rotateX(-20deg) rotateY(360deg); }
}