:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
    --theme-off-white: #f2f2f2;
    --theme-bg-main: #25335b;
    --theme-cubes-1: #dcdcdc;
    --theme-cubes-1-hover: #F5A400; /* btc - #F5A400 / #ef4143 */
    --theme-cubes-2-hover: #FFAA1D; /* btc - #FFAA1D / #f75d64 */
    --theme-cubes-3-hover: var(--orange-pilled); /* btc - --orange-pilled / #f14e55 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--theme-bg-main);
}

.cubes.container {
    position: relative;
    top: -80px;
    transform: skewY(-20deg);

    /* Note: comment/uncomment for different hover effects btc GOLD :)  */
    /* animation: hueEffects 5s linear infinite; */
}

.container .cube {
    position: relative;
    z-index: 2;
}

.container .cube#cubes_back {
    z-index: 1;
    translate: -60px -60px;
}

.container .cube#cubes_front {
    z-index: 3;
    translate: 60px 60px;
}

.container .cube .cube-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    translate: calc(-70px * var(--x)) calc(-60px * var(--y));
}

.container .cube .cube-content .cube-minis {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: var(--theme-cubes-1);
    z-index: calc(1 * var(--i));
    transition: 1.5s;
}

.container .cube .cube-content span.cube-minis:hover {
    transition: 0s;
    background: var(--theme-cubes-1-hover);
    filter: drop-shadow(0 0 30px var(--theme-cubes-1-hover));
}

.container .cube .cube-content span.cube-minis::before {
    content: '';
    position: absolute;
    left: -40px;
    width: 40px;
    height: 100%;
    background: var(--theme-plain-white);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 1.5s;
}

.container .cube .cube-content span.cube-minis:hover::before {
    transition: 0s;
    background: var(--theme-cubes-2-hover);
}

.container .cube .cube-content span.cube-minis::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: var(--theme-off-white);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 1.5s;
}

.container .cube .cube-content span.cube-minis:hover::after {
    transition: 0s;
    background: var(--theme-cubes-3-hover);
}


/* Animations */
@keyframes hueEffects {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg)
    }
}