@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
    --theme-off-white: #f2f2f2;
    --theme-dark: #000;

    --sec-bg: #111;
    --btn-bg: #222;
    --curtain-clr: #00fe73;
    --curtain-clr2: #fe1a6f;
    --curtain-clr3: #2196f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section.curtain-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow: hidden;
    background: var(--sec-bg);
}

.curtain-box a.curtain-btn {
    position: relative;
    width: 160px;
    height: 50px;
    margin: 15px 50px;
    background: var(--btn-bg);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.curtain-box a.curtain-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: var(--curtain-clr);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.curtain-box a.curtain-btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: var(--curtain-clr);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.curtain-box a.curtain-btn:hover::before,
.curtain-box a.curtain-btn:hover::after {
    width: 50%;
    transition-delay: 0s;
}

.curtain-box a.curtain-btn:nth-child(2)::before,
.curtain-box a.curtain-btn:nth-child(2)::after {
    background: var(--curtain-clr2);
}

.curtain-box a.curtain-btn:nth-child(3)::before,
.curtain-box a.curtain-btn:nth-child(3)::after {
    background: var(--curtain-clr3);
}

.curtain-box a.curtain-btn span {
    position: absolute;
    z-index: 1;
    color: var(--theme-plain-white);
    font-size: 18px;
    transition: 0.5s;
}

.curtain-box a.curtain-btn span:nth-child(1) { transition-delay: 0.75s; }
.curtain-box a.curtain-btn:hover span:nth-child(1) {
    transform: scale(0);
    transition-delay: 0s;
}

.curtain-box a.curtain-btn span:nth-child(2) {
    transform: scale(3);
    opacity: 0;
    color: var(--sec-bg);
    transition-delay: 0s;
}
.curtain-box a.curtain-btn:hover span:nth-child(2) {
    transform: scale(1);
    transition-delay: 0s;
    opacity: 1;
    z-index: 10;
    transition-delay: 0.5s;
}