@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
    --theme-off-white: #f2f2f2;
    /* =====*Dark_Theme*===== */
    --theme-bg-dark: #232427;
    --theme-dark-card: #2a2b2f;
    --theme-dark-card-border: #1e1f23;
    --theme-card-number: rgb(255, 255, 255, 0.05);
    --theme-card-title: rgb(255, 255, 255, 0.5);
    --theme-card-btn: #000;
    --theme-card-btn-1: #2196f3;
    --theme-card-btn-2: #e91e63;
    --theme-card-btn-3: #97dc47;
    --theme-card-trans-1: rgb(255, 255, 255, 0.05);

    /* ====*Light_Theme*==== */
    --theme-bg-lite: #ebf5fc;
    --theme-lite-card: #ebf5fc;
    /* --theme-lite-card-border: #1e1f23; */
    --theme-lite-card-number: rgb(0, 0, 0, 0.02);
    --theme-lite-card-title: #777;
    --theme-lite-card-btn: #03a9f4;
    --theme-lite-card-btn-1: #ff568f;
    --theme-lite-card-btn-2: #e91e63;
    --theme-lite-card-btn-3: #97dc47;
    --theme-card-trans-1: rgb(255, 255, 255, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: var(--theme-bg-dark);
    overflow: hidden;
}

.dark .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.dark .container .dark-card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow:
        inset 5px 5px 5px rgb(0, 0, 0, 0.2),
        inset -5px -5px 5px rgb(255, 255, 255, 0.1),
        5px 5px 15px rgb(0, 0, 0, 0.3),
        -5px -5px 15px rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
}

.dark .container .dark-card
.box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-dark-card);
    border: 2px solid var(--theme-dark-card-border);
    box-shadow: 0 20px 50px rgb(0, 0, 0, 0.5);
    transition: 0.5s;
    overflow: hidden;
}
.dark .container .dark-card
.box:hover {
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgb(0, 0, 0, 0.5);
}

.dark .container .dark-card .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--theme-card-trans-1);
    pointer-events: none;
}

.dark .container .dark-card
.box .content {
    padding: 20px;
    text-align: center;

}

.dark .container .dark-card
.box .content
h2 {
    position: absolute;
    top: -20px;
    right: 30px;
    font-size: 8em;
    color: var(--theme-card-number);
}

.dark .container .dark-card
.box .content
h3 {
    font-size: 1.8em;
    color: var(--theme-card-title);
    z-index: 1;
    transition: 0.5s;
}

.dark .container .dark-card
.box .content
p {
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-card-title);
    z-index: 1;
    transition: 0.5s;
}

.dark .container .dark-card
.box .content
a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: var(--theme-card-btn);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: var(--theme-plain-white);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}

.dark .container .dark-card#card-1
.box .content
a { background: var(--theme-card-btn-1); }

.dark .container .dark-card#card-2
.box .content
a { background: var(--theme-card-btn-2); }

.dark .container .dark-card#card-3
.box .content
a { background: var(--theme-card-btn-3); }