:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
    --theme-off-white: #f2f2f2;
    --theme-bg-main: #0c0c0c;
    --theme-dark: #000;

    --btn-bg-color: #4973ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'consolas', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--theme-bg-main);
    overflow: hidden;
}

a.liquid-btn {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
}

a.liquid-btn span {
    position: relative;
    z-index: 1;
    color: var(--theme-plain-white);
    font-size: 20px;
    letter-spacing: 8px;
}

a.liquid-btn .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: var(--btn-bg-color);
    box-shadow: inset 0 0 50px rgb(0, 0, 0, 0.5);
    transition: 0.5s;
}
a.liquid-btn:hover .liquid { top: -120px; }

a.liquid-btn .liquid::before,
a.liquid-btn .liquid::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 200%;
    height: 200%;
    transform: translate(-50%, -75%);
}

a.liquid-btn .liquid::before {
    border-radius: 45%;
    background: rgb(20, 20, 20, 1);
    animation: liquidAnime 5s linear infinite;
}

a.liquid-btn .liquid::after {
    border-radius: 40%;
    background: rgb(20, 20, 20, 0.5);
    animation: liquidAnime 5s linear infinite;
}



/* Animations */
@keyframes liquidAnime {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}