:root {
    --orange-pilled: #f2a900;
    --theme-plain-white: #fff;
    --theme-off-white: #f2f2f2;
    --theme-bg-main: #25335b;
    --theme-bg-main2: #161623;
    --theme-bg-main3: #050505;
    --theme-gradient1: #F5A400, #F5A400;
    --theme-gradient2: #f0f, #2196f3;
    --theme-gradient3: #151515, #00ec00;
    --cube-color1: #222;
    --cube-color2: #0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: var(--theme-bg-main3);
    overflow: hidden;
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: spinCube 8s linear infinite;
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--theme-gradient3));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px); /* 300w / 2 = 150 */
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: var(--cube-color1);
    transform: rotateX(90deg) translateZ(150px);
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: var(--cube-color2);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow:
        0 0 120px rgb(0, 255, 0, 0.2),
        0 0 200px rgb(0, 255, 0, 0.4),
        0 0 300px rgb(0, 255, 0, 0.6),
        0 0 400px rgb(0, 255, 0, 0.8),
        0 0 500px rgb(0, 255, 0, 1);
}

.cube:nth-child(2) {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    height: 200px;
    animation: spinCube 4s linear infinite;
}

.cube:nth-child(3) {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 200px;
    height: 200px;
    animation: spinCube 5s linear infinite reverse;
}



/* Animations */
@keyframes spinCube {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}